body{
    display: flex;
    flex-direction: column;
}

div#sizeBtn {
    display: flex;
}

#container {
    display: flex;
    width: 500px;
    height: 500px;
}

.gridColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.gridCell {
    background-color: white;
    /* width: 10px; */
    /* height: 10px; */
}