body{
    display: flex;
    flex-direction: column;
}

#sizeBtn {
    display: flex;
}

#container {
    display: flex;
    width: 500px;
    height: 500px;
}

.gridColumn {
    position:relative;
    /* display: flex; */
    flex-direction: column;
    /* align-items: stretch; */
    overflow: hidden;
    height: 100%;
}

.gridCell {
    position: relative;
    background-color: white;
    /* width: 10px; */
    /* height: 10px; */
}